In [2]:
import cx_Oracle

In [15]:
conn = cx_Oracle.connect('hr/hr@192.168.99.100:49161/xe')

print(conn.version)

11.2.0.2.0

In [16]:
# 커서 생성
cur = conn.cursor()

In [8]:
cur.execute('CREATE USER namiw IDENTIFIED BY namiw')
conn.commit()

In [18]:
cur.execute('SELECT count(*) FROM EMPLOYEES')

for result in cur:
    print(result)

(107,)

In [11]:
cur.execute("select table_name from all_tables where table_name='hr'")
for result in cur:
    print(result)

In [ ]:
cur.close()
conn.close()